<div class='search-table'>
  <div class='search-row heading'>
    <div class='search-cell' id='query'>
      Query
    </div>
    <div class='search-cell' id='updated_at'>
      Time
    </div>
    <div class='search-cell' id='count'>
      Count
    </div>
  </div>
  <div id='searches'>
    <% @previous_searches.each do |search| %>
      <div class='search-row' id="<%=dom_id(search)%>">
        <div class='search-cell' id="<%=dom_id(search, :link)%>">
          <%= link_to search.location_name, search_path(search) %>
        </div>
        <div class='search-cell' id="<%=dom_id(search, :date)%>">
          <%= search.last_searched%>
        </div>
        <div class='search-cell' id="<%=dom_id(search, :count)%>"">
          <%= search.count %>
        </div>
      </div>
    <%end%>
  </div>
</div>